<!DOCTYPE html>
<html>
  <head>
    <title>UberDashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if current_user %>
    <%= render partial: "shared/user_nav" %>
  <% else %>
    <%= render partial: "shared/guest_nav" %>
  <% end %>
    <%= yield %>
  </body>
</html>
